{% extends sitebase.html %}
{% block content %}
{% set i=1 %}
<h2>Animal Participant Survey</h2>
<h3 style="color: red"><span name="status_message" id="status_message"></span></h3>
<div class="lefta">
    <table width="100%">
        <form id="pet_survey" name="pet_survey" action="/add_animal/" method="post">
            <tr>
                <td><h4>General</h4></td>
            </tr>
{% for field in theForm.getGeneralSection() %}
            <tr>
                <td width="20%">{% raw field.label %}</td>
                <td>{% raw field(tabindex=i) %}</td>
                {% set i += 1 %}
            </tr>
{% end %}
            <tr>
                <td><h4>Diet</h4></td>
            </tr>
{% for field in theForm.getDietSection() %}
            <tr>
                <td width="20%">{% raw field.label %}</td>
                <td>{% raw field(tabindex=i) %}</td>
                {% set i += 1 %}
            </tr>
{% end %}
            <tr>
                <td><h4>Social</h4></td>
            </tr>
{% set singles, additional_animals, human_ages, human_sexes = theForm.getSocialSection() %}
{% for field in singles %}
            <tr>
                <td width="20%">{% raw field.label %}</td>
                <td>{% raw field(tabindex=i) %}</td>
                {% set i += 1 %}
            </tr>
{% end %}
            <tr>
                <td>Aditional animals living with this animal</td>
                <td><div id="AdditionalPets">{% raw additional_animals(tabindex=i) %}</div><a class="add_field" href="#" onclick="addPet()" title="Add another pet">Add another pet</a></td>
                {% set i += 1 %}
            </tr>
            <tr>
                <td>Additional humans living with this animal</td>
                <td><div id="AdditionalHuman">{% raw human_ages(tabindex=i) %}{% raw human_sexes(tabindex=i+1) %}</div><a class="add_field" href="#" onclick="addHuman()" title="Add another human">Add another human</a></td>
                {% set i += 2 %}
            </tr>
            <tr>
                <td><input type='submit' tabindex="{{i}}"></td>
            </tr>
        </form>
    </table>
</div>
<br />
    <script>
      $(function() {
          $( "#food_type" ).buttonset();
          $( "#outside_time" ).buttonset();
          $( "#toilet" ).buttonset();
          $( "#coprophage" ).buttonset();
          
          $('input[type="text"]').focus(function () {
              defaultText = $(this).val();
              $(this).val('');
          });
          $('input[type="text"]').blur(function () {
              if ($(this).val() == "") {
                  $(this).val(defaultText);
              }
              });

      });
    </script>
<br />
{% end %}
